.container {
  max-width: 960px;
}

h1 {
  color: white;
  text-shadow: 2px 2px #f4abc3;
  font-family: Phosphate, arial, sans-serif;
  letter-spacing: 2px;
}

h2 {
  color: white;
  text-shadow: 1px 1px #f4abc3;
  font-family: Dunbar Low, arial, sans-serif;
}

h5 {
  color: #e84b8b;
  font-family: oskar, arial, sans-serif;
}

p {
  color: white;
  font-family: oskar, arial, sans-serif;
}

.copyright {
text-shadow: 0px 0px;
color: #e84b8b;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: #f4abc3;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

.position-relative {
  background-image: url(../images/beercans.jpg);
  background-repeat: no-repeat;
}

.headline1 {
  background-image: url(../images/hops.jpg);
  background-size: 100%;
  height: 500px;
}

.headline2 {
  background-image: url(../images/purplefriends.jpg);
  background-size: 100%;
  height: 500px;
}

.headline3 {
  background-image: url(../images/beercan.jpg);
  background-size: 100%;
  height: 500px;
}

.text1, .text2 {
  padding-top: 150px;
}

.text3, .text3para {
  padding-left: 320px;
}


/*
modal
*/
button {
  color: white;
  background-color: #f4abc3;
  margin-left: 335px;
  font-family: oskar, arial, sans-serif;
  border-radius: 5px;

}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}
/*
modal ^^^
*/


.headline4 {
  background-image: url(../images/friends.jpg);
  background-size: 100%;
  height: 500px;
}

.btn {
  background-color: #f4abc3;
  color: white;
  font-family: oskar, arial, sans-serif;
}

.btn-outline-secondary {

}
